<%inherit file="/base.html"/>
<%namespace name="navbar" file="/home_application/manage_nav.html"/>

<%block name='head'>
	<title>管理系统</title>
	${parent.head()}

</%block>

<%block name="content">
    <!--面包板 开始-->
    <!-- <div class="king-page-topbar pl20 pr20 {{ marginStyle }}"> -->
    <div class="king-page-topbar m20">
        <!--<h3 class="king-topbar-title mb0">-->
            <!--<span>Breadcrumb</span>-->
        <!--</h3>-->
        <ul class="breadcrumb king-breadcrumb pl0 bg-transparent">
            <li><a href="/manage/">系统管理</a></li>
        </ul>
    </div>
    <!--面包板 结束-->
    <div class="king-page-box king-layout1-main clearfix mt30">
        <!-- 左边 start -->
        ${navbar.navbar()}
        <!-- 左边 end -->

        <!-- content start -->
        <div class="king-content-wrap">
            <div class="king-layout1-content" style="margin-left: 216px;">

            </div>
        </div>
        <!-- content end -->
    </div>
</%block>
